<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="BitLyApiToken" value="caa5bad2e1c1e5ef99ce8eed4b0724a16fc4b69e"/>
		<add key="BitLyApiUrl" value="htttps://api-ssl.bitly.com/shorten?acess_token={0}&amp;longUrl={1}"/>
	</appSettings>
</configuration>